body{background-color: aquamarine;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    border: 3px black solid;
    padding: 50px;
    width: 300px;
    height:fit-content ;
}

.datos{ 
    
    
    background-color: brown;


}
.contenedor{ background-color: yellowgreen;
width: 100%;
padding: auto;
display: flex contents;


}


button{
    border-radius: 25px;
    background-color: orangered;
    padding-right: 25%;
    width: 200px;
}
.contenedorContrasena{ background-color: blueviolet;
    width: 200px;


}